.flash {
  text-align: center;
  color: brown;
  padding: 11px;
}

.flash.alert {
border-color: brown;
}

.notice {
  text-align: center;
  color: green;
  padding: 11px;
}

.hello {
  text-align: center;
  color: dodgerblue;
  padding: 11px;
}
